<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Noto+Serif:wght@100;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../style/reset.css">

    <link rel="stylesheet" href="../../style/header.css">
    <link rel="stylesheet" href="../../style/footer.css">

    <link rel="stylesheet" href="../../style/not_index_banner.css">
    <link rel="stylesheet" href="professor_intro.css">
    <title>교수소개</title>
</head>
<body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
        <article class="professor_intro_wrap">
            <section class="banner" id="banner">
                <div class="banner_container">
                    <div class="section_title_wrap">
                        <h2 class="section_title">교수진</h2>
                    </div>
                
                    <div class="lnb_wrap">
                        <ul class="lnb">
                            <li><a href="">교수소개</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="container_wrap">
                
                <div class="path_wrap">
                    <div class="path">
                        <a href="#none">HOME</a> > 
                        <a href="#none">전공</a> > 
                        <a href="#none">교육목표</a>
                    </div>
                </div>

                <h3>교수소개</h3>

                <div class="professor_photo_section">
                    <h4 class="screen_out">카드 선택</h4>
                    <div class="photo_box">
                        <div class="static_photo_wrap">
                            <ul class="move_photo_wrap">
                                <li class="professor_card">
                                    <div class="professor_img">
                                        <a href="#none"><img src="../../assets/images/professor/professor_cheon.jpg" alt=""></a>
                                    </div>
                                    
                                    <p class="professor_name">천은홍교수</p>
                                </li>

                                <li class="professor_card">
                                    <div class="professor_img">
                                        <a href="#none"><img src="../../assets/images/professor/professor_ha.jpg" alt=""></a>
                                    </div>
                                    
                                    <p class="professor_name">하종성교수</p>
                                </li>

                                <li class="professor_card">
                                    <div class="professor_img">
                                        <a href="#none"><img src="../../assets/images/professor/professor_Lee.jpg" alt=""></a>
                                    </div>
                                    
                                    <p class="professor_name">이종석교수</p>
                                </li>

                                <li class="professor_card">
                                    <div class="professor_img">
                                        <a href="#none"><img src="../../assets/images/professor/professor_yang.jpg" alt=""></a>
                                    </div>
                                    
                                    <p class="professor_name">양승원교수</p>
                                </li>

                                <li class="professor_card">
                                    <div class="professor_img">
                                        <a href="#none"><img src="../../assets/images/professor/professor_han.jpg" alt=""></a>
                                    </div>
                                    
                                    <p class="professor_name">한영덕교수</p>
                                </li>

                                <li class="professor_card">
                                    <div class="professor_img">
                                        <a href="#none"><img src="../../assets/images/professor/professor_kim.jpg" alt=""></a>
                                    </div>
                                    
                                    <p class="professor_name">김용기교수</p>
                                </li>

                                <li class="professor_card">
                                    <div class="professor_img">
                                        <a href="#none"><img src="../../assets/images/professor/teaching_assistant_kim.jpg" alt=""></a>
                                    </div>
                                    
                                    <p class="professor_name">김아름조교</p>
                                </li>

                            </ul>
                        </div>

                        <button type="button" class="prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button type="button" class="next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>

                <div class="professor_intro_section">
                    <h4 class="screen_out">카드정보</h4>
                    <div class="professor_intro_center">
                        <div class="professor_detail_intro_wrap">
                            <div class="professor_big_img_box">
                                <img src="../../assets/images/professor/professor_cheon.jpg" alt="">
                            </div>

                            <div class="professor_basic_intro_wrap">
                                <h5>기본정보</h5>

                                <ul class="basic_intro_container">
                                    <li class="basic_intro_contents">이름: <div>천은홍</div></li>
                                    <li class="basic_intro_contents">소속: <div>컴퓨터공학과</div></li>
                                    <li class="basic_intro_contents">구분: <div>컴퓨터 네트워크</div></li>
                                    <li class="basic_intro_contents">연구실: <div>테크노관 5408</div></li>
                                    <li class="basic_intro_contents">전화번호: <div>043-531-2882</div></li>
                                    <li class="basic_intro_contents">이메일: <div>ehcheon@woosuk.ac.kr</div></li>
                                </ul>
                            </div>

                            <div class="carrer_wrap">
                                <h5>경력</h5>
                                <ul class="carrer_container">
                                    <li>2014.03~ 우석대학교 컴퓨터공학부 교수</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer id="footer" class="footer"></footer>
    
    <script src="../../script/header_footer_call.js"></script>
    <script src="professor_intro.js"></script>
</body>
</html>