<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../style/reset.css">

    <link rel="stylesheet" href="../../../style/header.css">
    <link rel="stylesheet" href="../../../style/footer.css">

    <link rel="stylesheet" href="../specialty_banner.css">
    <link rel="stylesheet" href="career.css">
    <title>졸업후 진로</title>
</head>
<body>
    <header class="header" id="header"></header>
    <main id="main" class="main">
        <article>
            <section class="banner" id="banner"></section>

            <section class="container_wrap">
                <div class="path_wrap">
                    <div class="path">
                        <a href="#none">HOME</a> > 
                        <a href="#none">전공</a> > 
                        <a href="#none">교육목표</a>
                    </div>
                </div>

                <div class="section_contents_wrap">
                    <div class="container">
                        <h3 class="contents_name">졸업후 진로</h3>

                        <div>
                            <p class="career_intro">
                                컴퓨터공학 기술은 거의 모든 분야에서 직간접적으로 활용되는 산업발전의 핵심이므로 컴퓨터공학 전문가의 향후 발전 전망은 매우 밝으며 
                                컴퓨터공학 관련 분야로 수많은 일자리가 창출되어 국가 사회 산업적으로 폭넓은 취업 기회가 제공되고 있다.
                            </p>

                            <div class="contents_wrap">
                                <div class="contents">
                                    <div>
                                        <h4>졸업후 진로</h4>
                                        <ul>
                                            <li>
                                                <h5>분야</h5>
                                                <ul>
                                                    <li>대기업 및 중소기업체, 국공립기관 및 관공서 전산실, 공무원, 교사, 방송국</li>
                                                    <li>은행 및 증권회사 등 금융기관, 병원, 벤처기업 창업, 대학원 진학</li>
                                                </ul>
                                            </li>

                                            <li>
                                                <h5>유망직종</h5>
                                                <ul>
                                                    <li>빅데이터전문가, 데이터베이스엔지니어, 인공지능전문가, SW아키텍트, 응용SW개발자, 임베디드SW개발자</li>
                                                    <li>컴퓨터시스템엔지니어, 네트워크분석가, 보안전문가, 콘텐츠개발자, 웹디자이너, UI개발자, 컨설턴트 등</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="contents">
                                    <div>
                                        <h4>자격증 종류</h4>
                                        <ul>
                                            <li>
                                                <h5>국제자격</h5>
                                                <ul>
                                                    <li>
                                                        <p>SUN/ORACLE/MS/CISCO/LINUX/HP 등에서 시행하는 자격증 다수</p>
                                                    </li>
                                                </ul>
                                                
                                            </li>

                                            <li>
                                                <h5>국가기술자격</h5>
                                                <ul>
                                                    <li><p>정보처리기사, 전자계산기기사, 전자계산기조직응용기사, 멀티미디어콘텐츠제작전문가, 게임프로그래밍전문가 등</p></li>
                                                </ul>
                                            </li>

                                            <li>
                                                <h5>국가공인민간자격</h5>
                                                <ul>
                                                    <li> <p>데이터아키텍처전문가, 데이터분석전문가, SQL전문가, 컴퓨터운용사, 리눅스마스터, 인터넷정보관리사, 웹마스터, 네트워크관리사, 멀티미디어전문가, SW테스트전문가, PC정비사 등 다수</p></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer id="footer" class="footer"></footer>
    <script src="../../../script/header_footer_call.js"></script>
    <script src="../../../script/specialty/lnb_call.js"></script>
</body>
</html>