
/* 경로 */
.container_wrap .path_wrap{

    padding: 10px;

    font-weight: 500;

    border-bottom: 1px solid #d3d3d3;
}
/* 컨텐츠 묶음 */
.container_wrap .section_contents_wrap{
    padding: 10px;
    margin: auto;

    width: 80%;

    display: flex;
    justify-content: center;
}
.container_wrap .section_contents_wrap .container{
    width: 100%;

}
.container_wrap .section_contents_wrap .container h3{
    font-size: 1.7rem;
    font-weight: 700;
    
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
    
}
.container_wrap .section_contents_wrap .container>div{
    width: 90%;

    margin: 30px auto;
}

/* 컨텐츠 */
.container_wrap .section_contents_wrap .container .contents_wrap{
    width: 100%;
    height: 400px;


    margin-top: 30px;

    line-height: 25px;

    transition: 0.5s;

    display: flex;
    justify-content: space-between;

    
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents{

    width:45%;

    padding: 10px;

    overflow-y: scroll;
}

/* 컨텐츠 종류 */
.container_wrap .section_contents_wrap .container .contents_wrap .contents>div h4{

    padding: 5px 0;
    padding-left: 5px;
    border-radius: 3px;

    background: #008D91;
    color: #fff;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents>div ul{

    margin-top: 20px;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents>div>ul>li{
    border: 1px solid #808080;
    border-radius: 5px;
    margin: 20px 0;
}

/* 컨텐츠 속 분야 */
.container_wrap .section_contents_wrap .container .contents_wrap .contents>div>ul>li h5{
    border-bottom: 1px solid #d3d3d3;
    padding: 5px 0;

    text-align: center;

}
.container_wrap .section_contents_wrap .container .contents_wrap .contents>div>ul>li ul{
    margin: 0;

    font-size: 0.9em;

    line-height: 20px;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents>div>ul>li ul li{
    margin: 10px 0;
    padding: 10px 10px;
}

@media screen and (max-width:1050px) {
    .container_wrap .section_contents_wrap .container .contents_wrap{
        width: 100%;

        display: block;

        overflow-y: scroll;
    }

    .container_wrap .section_contents_wrap .container .contents_wrap .contents{
        width: 100%;

        overflow: auto;

        border: 0;
    }
    .container_wrap .section_contents_wrap .container .contents_wrap .contents:nth-child(1){
        border-bottom: 5px solid #808080;
        margin-bottom: 30px;

    }
    .container_wrap .section_contents_wrap .container .contents_wrap .contents>div h4{
        text-align: center;

        font-size: 1.1em;
        font-weight: 500;

        border-radius: 50px;
    }

    .container_wrap .section_contents_wrap .container .contents_wrap .contents p{
        font-size: 0.9em;
    }
}