/* 모달 */
#wrap{
    position: relative;
    z-index: 0;

}
#modal.screen_out{
    display: none;
}
#modal{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: #00000077;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}
#modal .modal_box{
    width: 50%;
    height: 50%;

    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
#modal .modal_box .modal_contents_center{

    width: 80%;

    background-color: #fff;

    padding: 10px;

    font-size: 1em;

    border: 1px solid;
    transition: 0.5s;
}
/* 작성자, 비밀번호 */
#modal .modal_box p,
#modal .modal_box form{
    width: 50%;

    margin: auto;

    text-align: center;
    transition: 0.5s;
}
#modal .modal_box p{
    width: 100%;
}
#modal .modal_box form>div{
    margin: 30px 0;
    display: flex;
}
#modal .modal_box form label{
    width: 20%;

    font-size: 0.8em;

    display: flex;
    align-items: center;
}
#modal .modal_box form input{
    width:  80%;
}

/* 취소, 등록버튼 */
#modal .modal_box .modal_btn_wrap{
    display: flex;
    justify-content: space-between;
}
#modal .modal_box .modal_btn_wrap button{
    padding: 7px 20px;
    border: 0;
    border-radius: 3px;

    background: #008D91;
    color: #fff;

    cursor: pointer;
}
#modal .modal_box .modal_btn_wrap button:hover{
    background: #F7AA01;
}

@media screen and (max-width:1050px) {
    #modal .modal_box{
        width: 80%;
        height: 50%;
    }

    #modal .modal_box form{
        width: 100%;
    }
}