
        <div class="header_contents_wrap">
            <div class="header_contents_left">
                <div class="logo_wrap">
                    <div class="logo_img_box">
                        <h1 class="logo">
                            <a href="#none">
                                <img src="/UNIVERSITY/src/assets/images/Woosuk_Logo.png" alt="우석대학교로고">
                            </a>
                        </h1>
                    </div>

                    <div class="logo_text_box">
                        <div class="school_kr_name_wrap">
                            <div class="school_kr_name">
                                <a href="/UNIVERSITY/src/view/main/index.html">우석대학교</a>
                            </div>

                            <small class="department">
                                <a href="/UNIVERSITY/src/view/main/index.html">컴퓨터공학과</a>
                            </small>
                        </div>

                        <div class="school_en_name_wrap">
                            <div class="school_en_name">
                                <a href="/UNIVERSITY/src/view/main/index.html">WOOSUK UNIVERSITY</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header_contents_right">
                <div class="gnb_container_wrap">

                    <div class="show_hide_gnb_btn_wrap">
                        <a href="#none" class="show_hide_gnb_btn"><i class="fa-solid fa-bars"></i><!-- 햄버거 버튼 --></a>
                    </div>

                    <div class="gnb_container">
                        <div class="school_other_container_wrap">
                            <ul class="school_other_container">
                                <li class="school_other_contents">
                                    <a href="https://jc.woosuk.ac.kr/WoosukJcMain.do;JSESSIONID2=7AAB5397365A7828AE4C0415E79414BA">학교홈페이지</a>
                                </li>

                                <li class="school_other_contents">
                                    <a href="https://jc.woosuk.ac.kr/WoosukEntrance.do">입학안내</a>
                                </li>
                                
                                <li class="school_other_contents">
                                    <a href="https://www.woosuk.ac.kr/WoosukGraduate.do">대학원소개</a>
                                </li>
                            </ul>

                            <ul class="school_login_container">
                                <li class="school_login_contents">
                                    <a href="/UNIVERSITY/src/view/Login/login.html" class="loginBtn">admin_Login</a>
                                    <a href="#none" class="logoutBtn screen_out">Log_out</a>
                                </li>
                            </ul>
                        </div>

                        <nav class="gnb">
                            <span class="gnb_bg"></span>

                            <ul class="menu_wrap">
                                <li class="gnb_contents_name" style="--top_move:1">
                                    <h2><a href="#none">전공</a></h2>

                                    <ul class="gnb_detail_menu_wrap">
                                        <li class="gnb_detail_menu">
                                            <a href="/UNIVERSITY/src/view/specialty/specialty_intro/specialty_intro.html">전공소개</a>
                                        </li>

                                        <li class="gnb_detail_menu">
                                            <a href="/UNIVERSITY/src/view/specialty/education/education.html">교육목표</a>
                                        </li>

                                        <li class="gnb_detail_menu">
                                            <a href="/UNIVERSITY/src/view/specialty/career/career.html">졸업후 진로</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="gnb_contents_name" style="--top_move:2">
                                    <h2><a href="#none">교수진</a></h2>

                                    <ul class="gnb_detail_menu_wrap">
                                        <li class="gnb_detail_menu">
                                            <a href="/UNIVERSITY/src/view/professor/professor_intro.html">교수소개</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="gnb_contents_name" style="--top_move:3">
                                    <h2><a href="#none">교과과정</a></h2>

                                    <ul class="gnb_detail_menu_wrap">
                                        <li class="gnb_detail_menu">
                                            <a href="/UNIVERSITY/src/view/curriculum/curriculum_composition/curriculum_composition.html">교과과정구성</a>
                                        </li>

                                        <li class="gnb_detail_menu">
                                            <a href="/UNIVERSITY/src/view/curriculum/curriculum_praph/curriculum.html">교육과정표</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="gnb_contents_name" style="--top_move:4">
                                    <h2><a href="#none">커뮤니티</a></h2>

                                    <ul class="gnb_detail_menu_wrap">
                                        <li class="gnb_detail_menu">
                                            <a href="/UNIVERSITY/src/view/community/notice/notice_list/notice_list.html">공지사항</a>
                                        </li>

                                        <li class="gnb_detail_menu">
                                            <a href="/UNIVERSITY/src/view/community/gallery/show_gallery/show_gallery.html">갤러리</a>
                                        </li>

                                        <li class="gnb_detail_menu">
                                            <a href="/UNIVERSITY/src/view/community/QnA/QnA_list/QnA_list.html">Q&A</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
