<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/UNIVERSITY/src/assets/images/woosuk.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../style/reset.css">

    <link rel="stylesheet" href="../../style/header.css">
    <link rel="stylesheet" href="../../style/footer.css">

    <link rel="stylesheet" href="../../style/not_index_banner.css">
    <link rel="stylesheet" href="sitemap.css">
    <title>교육목표</title>
</head>
<body>
    <header class="header" id="header"></header>
    <main class="main" id="main">
        <article>
            
            <section class="container_wrap">
                <div class="path_wrap">
                    <div class="path">
                        <a href="../../view/main/index.html">HOME</a> > 
                        <a href="#none">사이트맵</a>
                    </div>
                </div>

                <div class="section_contents_wrap">
                    <div class="container">
                        <h2 class="contents_name">사이트맵</h2>

                        <div class="contents_wrap">
                            <div class="contents">
                                <ul class="menu_wrap">
                                    <li class="siteMap_contents_name" style="--top_move:1">
                                        <h3>전공</h3>
        
                                        <ul class="siteMap_detail_menu_wrap">
                                            <li class="siteMap_detail_menu">
                                                <a href="/UNIVERSITY/src/view/specialty/specialty_intro/specialty_intro.html">전공소개</a>
                                            </li>
        
                                            <li class="siteMap_detail_menu">
                                                <a href="/UNIVERSITY/src/view/specialty/education/education.html">교육목표</a>
                                            </li>
        
                                            <li class="siteMap_detail_menu">
                                                <a href="/UNIVERSITY/src/view/specialty/career/career.html">졸업후 진로</a>
                                            </li>
                                        </ul>
                                    </li>
        
                                    <li class="siteMap_contents_name" style="--top_move:2">
                                        <h3>교수진</h3>
        
                                        <ul class="siteMap_detail_menu_wrap">
                                            <li class="siteMap_detail_menu">
                                                <a href="/UNIVERSITY/src/view/professor/professor_intro.html">교수소개</a>
                                            </li>
                                        </ul>
                                    </li>
        
                                    <li class="siteMap_contents_name" style="--top_move:3">
                                        <h3>교과과정</h3>
        
                                        <ul class="siteMap_detail_menu_wrap">
                                            <li class="siteMap_detail_menu">
                                                <a href="/UNIVERSITY/src/view/curriculum/curriculum_composition/curriculum_composition.html">교과과정구성</a>
                                            </li>
        
                                            <li class="siteMap_detail_menu">
                                                <a href="/UNIVERSITY/src/view/curriculum/curriculum_praph/curriculum.html">교육과정표</a>
                                            </li>
                                        </ul>
                                    </li>
        
                                    <li class="siteMap_contents_name" style="--top_move:4">
                                        <h3>커뮤니티</h3>
        
                                        <ul class="siteMap_detail_menu_wrap">
                                            <li class="siteMap_detail_menu">
                                                <a href="/UNIVERSITY/src/view/community/notice/notice_list/notice_list.html">공지사항</a>
                                            </li>
        
                                            <li class="siteMap_detail_menu">
                                                <a href="/UNIVERSITY/src/view/community/gallery/show_gallery/show_gallery.html">갤러리</a>
                                            </li>
        
                                            <li class="siteMap_detail_menu">
                                                <a href="/UNIVERSITY/src/view/community/QnA/QnA_list/QnA_list.html">Q&A</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="siteMap_contents_name" style="--top_move:4">
                                        <h3>학교 사이트</h3>
        
                                        <ul class="siteMap_detail_menu_wrap">
                                            <li class="siteMap_detail_menu">
                                                <a href="https://jc.woosuk.ac.kr/WoosukJcMain.do;JSESSIONID2=7AAB5397365A7828AE4C0415E79414BA">학교 홈페이지</a>
                                            </li>
        
                                            <li class="siteMap_detail_menu">
                                                <a href="https://jc.woosuk.ac.kr/WoosukEntrance.do">입학안내</a>
                                            </li>
        
                                            <li class="siteMap_detail_menu">
                                                <a href="https://www.woosuk.ac.kr/WoosukGraduate.do">대학원소개</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer class="footer" id="footer"></footer>

    <script src="../../script/header_footer_call.js"></script>
</body>
</html>