<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../style/reset.css">

    <link rel="stylesheet" href="../../../style/header.css">
    <link rel="stylesheet" href="../../../style/footer.css">

    <link rel="stylesheet" href="../specialty_banner.css">
    <link rel="stylesheet" href="education.css">
    <title>Document</title>
</head>
<body>
    <header class="header" id="header"></header>
    <main class="main" id="main">
        <article>
            <section class="banner">
                <div class="banner_container">
                    <div class="section_title_wrap">
                        <h2 class="section_title">전공</h2>
                    </div>

                    <div class="lnb_wrap">
                        <ul class="lnb">
                            <li><a href="#none">전공소개</a></li>
                            <li><a href="#none">교육목표</a></li>
                            <li><a href="#none">졸업후 진로</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            
            <section class="container_wrap">
                <div class="path_wrap">
                    <div class="path">
                        <a href="#none">HOME</a> > 
                        <a href="#none">전공</a> > 
                        <a href="#none">교육목표</a>
                    </div>
                </div>

                <div class="section_contents_wrap">
                    <div class="container">
                        <h3 class="contents_name">교육목표</h3>

                        <div class="contents_wrap">
                            <div class="contents">
                                <h4>교육목표</h4>

                                <p>
                                    컴퓨터 하드웨어와 소프트웨어에 대한 전문지식과 기술을 갖춘 컴퓨터 인재 양성
                                </p>

                                <p>
                                    컴퓨터 최신 이론의 해석능력과 프로그래밍에 대한 체계적 지식 확보
                                </p>

                                <p>
                                    컴퓨터 시스템의 관리 및 운영 능력을 갖춘 고급 컴퓨터 인력 양성
                                </p>

                                <p>
                                    신성장 동력기술에 대처할 수 있는 국제적 경쟁력을 갖춘 컴퓨터 전문가 양성
                                </p>

                                <p>
                                    산학협동을 통한 최신 컴퓨터 기술 활용을 위한 현장 실습교육 기회 제공
                                </p>
                            </div>

                            <div class="contents">
                                <h4>대학 교육목표와의 연계성</h4>

                                <p>
                                    정보기술에 대한 전문지식과 기술을 갖춘 사회와 기업에서 필요로 하는 협동적인 인재 양성
                                </p>

                                <p>
                                    컴퓨터 기본 이론과 프로그래밍에 대한 체계적 지식을 확보하여 합리적인 사고를 하는 지성인 양성
                                </p>

                                <p>
                                    산학협동을 통한 현장 실습 교육 기회를 제공하여 실용적 지식을 지닌 컴퓨터 전문가 양성
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer class="footer" id="footer"></footer>

    <script src="../../../script/header_footer_call.js"></script>
</body>
</html>