<div class="banner_container">
    <div class="section_title_wrap">
        <h2 class="section_title">전공</h2>
    </div>

    <div class="lnb_wrap">
        <ul class="lnb">
            <li><a href="/UNIVERSITY/src/view/specialty/specialty_intro/specialty_intro.html">전공소개</a></li>
            <li><a href="/UNIVERSITY/src/view/specialty/education/education.html">교육목표</a></li>
            <li><a href="/UNIVERSITY/src/view/specialty/career/career.html">졸업후 진로</a></li>
        </ul>
    </div>
</div>