
.banner{
    border-top: 2px solid #d3d3d3;
    border-bottom: 2px solid #d3d3d3;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #00000046 url(../../assets/images/specialty/banner.jpg);
    background-blend-mode: overlay;
    background-position: center;

    background-size: cover;

    
}
/* 배너 섹션들 */
.banner .banner_container{
    width: 40%;

}
.banner .banner_container>div{

    margin: auto;
}

/* 페이지 대표이름 */
.banner .section_title_wrap .section_title{
    text-align: center;

    padding: 20px;

    font-size: 2rem;
    font-weight: 700;
    font-family: 'Jamsil';

    color: #fff;
}

/* lnb */
.banner .lnb_wrap .lnb{
    display: flex;

    margin-top: 20px;

    justify-content: center;
}
.banner .lnb_wrap .lnb li{
    width: 200px;

    padding: 10px;
    margin: 0 5px;
    border-radius: 3px;

    background: #6e6e6e77 ;

    text-align: center;
}
.banner .lnb_wrap .lnb li a{
    color: #fff;
}
.banner .lnb_wrap .lnb li:hover{
    background: #0061c5;
}

/********************** MOBILE **********************/
@media screen and (max-width:1050px) {
    .main{
        min-width: 100%;
    }
    .banner{
        width: 100%;
        background-position: center;
    }
    .banner .banner_container{
        width: 100%;

    }
}