<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/UNIVERSITY/src/assets/images/woosuk.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Noto+Serif:wght@100;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../style/reset.css">

    <link rel="stylesheet" href="../../../style/header.css">
    <link rel="stylesheet" href="../../../style/footer.css">

    <link rel="stylesheet" href="../../../style/not_index_banner.css">
    <link rel="stylesheet" href="curriculum.css">
    <title>교과과정</title>
</head>
<body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
        <section class="banner" id="banner"></section>

        <section class="container_wrap">
            <div class="path_wrap">
                <div class="path">
                    <a href="../../main/index.html">HOME</a> > 
                    <a href="#none">교과과정</a> > 
                    <a href="#none">교육과정표</a>
                </div>
            </div>

            <div class="section_contents_wrap">
                <div class="container">
                    <div class="contents_name_wrap">
                        <div class="contents_names">
                            <h3 class="contents_name clum_table"><a href="#none" class=" active">교육과정표</a></h3>
                            <h3 class="contents_name"><a href="#none">교과목소개</a></h3>
                        </div>
                        
                        <p>전공, 학년별 배우는 교과목을 확인 할 수 있습니다.</p>
                    </div>
                    
                    <div class="contents_wrap">
                        <ul class="contents_list">
                            <li class="contents_item">
                                <a href="#none">컴퓨터공학전공</a>

                                <table>
                                    <thead>
                                        <tr class="semester">
                                            <th colspan="4">1학기</th>
                                            <th colspan="4">2학기</th>
                                        </tr>

                                        <tr>
                                            <th>학년</th>
                                            <th>학수구분</th></th>
                                            <th>교과목 명</th>
                                            <th>학점</th>
                                            <th>학수구분</th></th>
                                            <th>교과목 명</th>
                                            <th>학점</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <!-- 1학년 -->
                                            <tr>
                                                <td rowspan="2"  class="grade" >1</td>
                                                <td>전선</td>
                                                <td>컴퓨터공학개론</td>
                                                <td rowspan="2" class="score">3</td>
                                                <td>전선</td>
                                                <td>C프로그래밍활용</td>
                                                <td rowspan="2" class="score">3</td>
                                            </tr>

                                            <tr>
                                                <td>전필</td>
                                                <td>C프로그래밍기초</td>
                                                <td>전선</td>
                                                <td>창의적공학설계</td>
                                            </tr>
                                        

                                        <!-- 2학년 -->
                                            <tr>
                                                <td rowspan="5"  class="grade" >2</td>
                                                <td>전필</td>
                                                <td>자료구조</td>
                                                <td rowspan="5" class="score">3</td>
                                                <td>전필</td>
                                                <td>컴퓨터구조▲</td>
                                                <td rowspan="5" class="score">3</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>리눅스시스템</td>
                                                <td>전선</td>
                                                <td>웹프로그래밍(-어드벤처디자인)</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>윈도우프로그래밍</td>
                                                <td>전선</td>
                                                <td>자바프로그래밍</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>웹콘텐츠제작</td>
                                                <td>전선</td>
                                                <td>운영체제</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>디지털 논리회로</td>
                                                <td>전선</td>
                                                <td>인공지능기초</td>
                                            </tr>
                                        

                                        <!-- 3학년 -->
                                            <tr>
                                                <td rowspan="6"  class="grade" >3</td>
                                                <td>전선</td>
                                                <td>창업교육 (Linc+사업)</td>
                                                <td rowspan="6" class="score">3</td>
                                                <td>전선</td>
                                                <td>현장실습 (Linc+사업)</td>
                                                <td rowspan="6" class="score">3</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>데이터베이스</td>
                                                <td>전선</td>
                                                <td>인공지능 활용</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>컴퓨터네트워크</td>
                                                <td>전선</td>
                                                <td>파이썬프로그래밍응용</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>알고리즘</td>
                                                <td>전선</td>
                                                <td>소프트웨어공학</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>웹서버프로그래밍</td>
                                                <td>전선</td>
                                                <td>컴퓨터그래픽스</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>프로그래밍연습</td>
                                                <td>전선</td>
                                                <td>모바일프로그래밍</td>
                                            </tr>
                                        

                                        <!-- 4학년 -->
                                            <tr>
                                                <td rowspan="5"  class="grade" >4</td>
                                                <td>전선</td>
                                                <td>빅데이터처리 (Linc+사업)</td>
                                                <td rowspan="5" class="score">3</td>
                                                <td>전선</td>
                                                <td>정보보안</td>
                                                <td rowspan="5" class="score">3</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>임베디드시스템</td>
                                                <td>전선</td>
                                                <td>임베디드시스템응용</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>소프트웨어프로젝트 (캡스톤디자인1)</td>
                                                <td>전선</td>
                                                <td>졸업프로젝트 (캡스톤디자인2)</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>오픈소스소프트웨어공학</td>
                                                <td>전선</td>
                                                <td>영상처리</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>네트워크 프로그래밍</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        
                                    </tbody>
                                </table>
                            </li>

                            <li class="contents_item active">
                                <a href="#none">AI 융합전공</a></a>

                                <table>
                                    <thead>
                                        <tr class="semester">
                                            <th colspan="4">1학기</th>
                                            <th colspan="4">2학기</th>
                                        </tr>

                                        <tr>
                                            <th>학년</th>
                                            <th>학수구분</th></th>
                                            <th>교과목 명</th>
                                            <th>학점</th>
                                            <th>학수구분</th></th>
                                            <th>교과목 명</th>
                                            <th>학점</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <!-- 1학년 -->
                                            <tr>
                                                <td rowspan="2"  class="grade" >1</td>
                                                <td>전선</td>
                                                <td>컴퓨터공학개론</td>
                                                <td rowspan="2" class="score">3</td>
                                                <td>전선</td>
                                                <td>C프로그래밍활용</td>
                                                <td rowspan="2" class="score">3</td>
                                            </tr>

                                            <tr>
                                                <td>전필</td>
                                                <td>C프로그래밍기초</td>
                                                <td>전선</td>
                                                <td>AI와IoT기초	</td>
                                            </tr>
                                        

                                        <!-- 2학년 -->
                                            <tr>
                                                <td rowspan="5"  class="grade" >2</td>
                                                <td>전필</td>
                                                <td>자료구조</td>
                                                <td rowspan="5" class="score">3</td>
                                                <td>전필</td>
                                                <td>컴퓨터구조▲</td>
                                                <td rowspan="5" class="score">3</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>리눅스시스템</td>
                                                <td>전선</td>
                                                <td>웹프로그래밍(-어드벤처디자인)</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>전자제어프로그래밍</td>
                                                <td>전선</td>
                                                <td>자바프로그래밍</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>AI회로이론</td>
                                                <td>전선</td>
                                                <td>AI회로실험	</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>AI확률과통계</td>
                                                <td>전선</td>
                                                <td>클라우드컴퓨팅기초</td>
                                            </tr>
                                        

                                        <!-- 3학년 -->
                                            <tr>
                                                <td rowspan="6"  class="grade" >3</td>
                                                <td>전선</td>
                                                <td>창업교육 (Linc+사업)</td>
                                                <td rowspan="6" class="score">3</td>
                                                <td>전선</td>
                                                <td>현장실습 (Linc+사업)</td>
                                                <td rowspan="6" class="score">3</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>데이터베이스</td>
                                                <td>전선</td>
                                                <td>인공지능 활용</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>컴퓨터네트워크</td>
                                                <td>전선</td>
                                                <td>파이썬프로그래밍응용</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>스마트센서</td>
                                                <td>전선</td>
                                                <td>자동제어공학</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>퍼지이론</td>
                                                <td>전선</td>
                                                <td>무선네트워크</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>클라우드플랫폼</td>
                                                <td>전선</td>
                                                <td>지능형IoT소프트웨어</td>
                                            </tr>
                                        

                                        <!-- 4학년 -->
                                            <tr>
                                                <td rowspan="5"  class="grade" >4</td>
                                                <td>전선</td>
                                                <td>빅데이터처리 (Linc+사업)</td>
                                                <td rowspan="5" class="score">3</td>
                                                <td>전선</td>
                                                <td>정보보안</td>
                                                <td rowspan="5" class="score">3</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>임베디드시스템</td>
                                                <td>전선</td>
                                                <td>임베디드시스템응용</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>소프트웨어프로젝트 (캡스톤디자인1)</td>
                                                <td>전선</td>
                                                <td>졸업프로젝트 (캡스톤디자인2)</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>가상현실및증강현실</td>
                                                <td>전선</td>
                                                <td>인공지능융합실험</td>
                                            </tr>
                                            <tr>
                                                <td>전선</td>
                                                <td>AI로봇</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                        <ul class="contents_list contents_intro">
                            <li class="active">
                                <h4><a href="#none">1학년</a></h4>
                                <ul>
                                    <li>
                                        <div>
                                            <h5>컴퓨터공학개론( Introduction to Computer Engineering)</h5>
                                            <p>컴퓨터에 관한 기본적 지식과 컴퓨터와 관련된 전공 내용을 개괄적으로 다룬다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>C프로그래밍기초(Fundamentals of C Programming)</h5>
                                            <p>C 언어의 변수 선언, 제어문 사용, 함수 작성 및 호출 등 기본 구문을 이해하기 위하여 간단한 문제들을 중심으로 기초적인 프로그램 작성기법을 익힌다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>C프로그래밍활용(Application of C Programming)</h5>
                                            <p>수강학생 2-3인으로 팀을 구성하여 팀별 주제를 정해 1학기 동안 프로그래밍 프로젝트를 수행하거나 Advanced C와 C++ STL 및 병렬프로그래밍 API 등 프로그래밍의 심층적인 기술들을 다룬다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>창의적공학설계(Creative Engineering Design)</h5>
                                            <p>공학과 공학설계의 기초적인 개념, 공학설계 프로세스 모델링 방법, 창의적 문제해결을 위한 다양한 방법 등을 익히고, 이를 바탕으로 2~3인으로 팀을 구성하여 여러 문제들을 직접 해결함으로써 프로젝트 개념과 관리, 팀원의 역할, 설계계획, 보고서 작성 등을 통하여 팀 프로젝트를 수행하는 핵심 역량을 기른다.</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4><a href="#none">2학년</a></h4>
                                <ul>
                                    <li>
                                        <div>
                                            <h5>자료구조(Data Structure)</h5>
                                            <p>효율적이고 명확한 자료의 표현과 처리를 위한 자료구조의 추상적인 정의방법과 스택, 큐, 리스트, 트리, 그래프 등 기초 자료구조의 구체적인 구현법을 다룬다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>리눅스시스템(Linux System)</h5>
                                            <p>다중 환경 운영체제로 널리 사용되는 리눅스 시스템의 명령어와 응용프로그램의 사용법을 배우고, 리눅스 서버의 구축 및 관리 방법과 활용하는 방법을 강의하고 실습한다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>윈도우프로그래밍(Window Programming)</h5>
                                            <p>그래픽사용자인터페이스 (GUI) 앱을 개발하기 위하여 GUI 생성 코드는 다이어그램 형태의 컨트롤로 디자인하는 visual 방식으로 작성하고 이벤트처리 코드는 직접 프로그램을 입력하는 textual 방식으로 작성하는 방법을 다룬다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>웹콘텐츠제작(Web Contents Authoring)</h5>
                                            <p>웹의 구성요소인 오디오 및 동영상 등 멀티미디어 제작 방법을 살펴보고 웹 표현을 위한 마크업언어인 HTML과 동적 상호작용을 위한 Javascript언어를 배운 후 Node.js와 React.js에 대해서도 소개한다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                        <h5>컴퓨터구조(Computer Architecture)</h5>
                                            <p>제1부: 데이터의 표현방법과 컴퓨터HW 회로의 논리적 최소단위 AND OR NOT 게이트로부터 조합 및 순차 논리회로, 기억장치, 레지스터 등을 구성하고 작동시키는 원리를 익힌다.</p>
                                            <p>제2부: 컴퓨터HW 주요 구성 요소들의 기능 및 상호작용을 이해하기 위하여 CPU의 구조 및 명령어 구성, 제어장치의 구성과 동작, 기억장치의 구성, 입출력 기기 등을 다룬다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>웹프로그래밍-어드벤처디자인(Web Programming - Advanture Design)</h5>
                                            <p>웹 어플리케이션을 개발하기 위한 목적을 가지고 프론트엔드(Front-end)관련 기술인 Javascript, 웹 프론트엔드 프레임워크(Angular.js, React, Vue.js)과 이를 효율적으로 이용하는 방법을 다룬다.</p>

                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>자바프로그래밍(Java Programming)</h5>
                                            <p>학자바와 인터넷과의 관계를 알고 자바 프로그래밍의 환경, 프로그램 구조, 연산자와 제어, 배열 등을 익히며 객체지향 프로그래밍의 개념, 클래스와 스트림의 입/출력 등과 관련된 프로그래밍의 모든 정보 기술 응용 프로그램 개발 능력을 기른다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>운영체제(Operating System)</h5>
                                            <p>컴퓨터 자원을 효율적으로 관리하는 기법, 즉 프로세서, 메모리, 파일 입출력 장치 등을 관리하는 운영체제의 기능과 서비스를 이해한다.</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4><a href="#none">3학년</a></h4>
                                <ul>
                                    <li>
                                        <div>
                                            <h5>데이터베이스(Database)</h5>
                                            <p>데이터베이스의 개념 이해 및 관계 및 객체형 데이터베이스의 내부 구조 분석을 통해 상용 데이터베이스의 실무 처리 능력을 기른다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>알고리즘(Algorithm)</h5>
                                            <p>(컴퓨터) 알고리즘이란 어떠한 문제를 (컴퓨터로) 해결하는 절차를 말하는데 학부과정에서는 새로운 알고리즘을 개발하기보다는 알고리즘의 시간복잡도의 중요성 개념을 기반으로 프로그래밍 작성에 자주 사용되는 알려진 기본 알고리즘들을 분할정복, 동적계획, greedy, 되추적, 분기한정 등 기법 위주로 이해하는데 중점</p>을 둔다.
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>웹서버프로그래밍(Web Server Programming)</h5>
                                            <p>웹 서버에서 동작하는 웹 어플리케이션을 개발하기 위한 목적을 가지고 백엔드(back-end)관련 기술인 웹 스크립트 언어와 세션, 쿠키, 필터, DBMS 연결 등과 이를 효율적으로 이용하는 방법을 다룬다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>프로그래밍연습(Programming Practice)</h5>
                                            <p>학과 교수 전원이 참여하여 팀 티칭을 수행한다. 수강학생 2-3인으로 팀을 구성하여 참여교수 당 일정 팀을 지도한다. 팀별 주제를 정해 1학기 동안 프로그래밍 프로젝트를 수행한다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>소프트웨어공학(Software Engineering)</h5>
                                            <p>소프트웨어의 개발에 필요한 절차 및 방법을 습득하고 기존에 개발된 컴퓨터 교육에 관련된 소프트웨어들에 대한 개발 방법론을 사례연구를 통하여 익힌다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>인공지능활용(Application of Artificial Intelligence)</h5>
                                            <p>인공지능의 개념을 살피고 인공지능 지향의 소프트웨어를 개발할 때 이용되는 문제 해결방법에 중점을 둔다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>파이썬프로그래밍응용(Application of Python Programming)</h5>
                                            <p>데데이터 분석과 처리에 많이 사용되는 파이썬 프로그래밍과 이의 응용에 대해 학습한다. 파이썬의 기초 문법을 학습하고 이를 응용한 csv, json 포맷의 파일 처리, 웹 스크레이핑, 과학계산용 패키지, 데이터 분석 및 시각화 패키지 등의 활용에 대해 학습한다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>컴퓨터그래픽스응용(Applications of Computer Graphics)</h5>
                                            <p>기하적 정보인 3D 가상세계를 입력으로 2D 비트맵 이미지로 계산하여 출력하는 렌더링 원리를 이해하고 가속을 위하여 그래픽카드로 구현된 렌더링 기능을 웹에서 구동시키는 하위 API WebGL을 제1부에서 소개한 후, 제2부에서는 VR․AR 등 웹앱을 개발하기에 보다 용이한 상위 API three.js 및 WebXR 등을 다룬다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>모바일프로그래밍(Mobile Programming)</h5>
                                            <p>무선 이동통신 환경의 특수성을 이해하고, WML(Wireless Application Protocol Introduction), GVM(Game Virtual Machine), MAP(Movie Application S/W Plug-in) 등에 대하여 공부하고, 모바일 게임 서버 및 클라이언트 프로그래밍 기법을 배운다.</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4><a href="#none">4학년</a></h4>
                                <ul>
                                    <li>
                                        <div>
                                            <h5>임베디드시스템(Embedded System)</h5>
                                            <p>임임베디드 시스템의 하드웨어에 대한 개념을 익히고, 실습 도구를 활용하여 임베디드 시스템에 대한 하드웨어의 지식과 기술을 갖추도록 한다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>소프트웨어프로젝트(캡스톤디자인)(Software Project)</h5>
                                            <p>최종학년의 프로젝트 위주의 과목으로 완전한 하나의 프로젝트의 수행을 통하여 저학년에서 수강하여 획득한 전문지식을 서로 연계함으로써 완성도 있는 기술로 통합할 수 있는 기회를 제공하며, 학생들이 실무에서 접하게 될 기술적, 그리고 업무적 환경을 경험하게 하여 졸업 후 실무에 바로 투입될 수 있도록 한다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>오픈소스를이용한소프트웨어공학(Open Source Software Engineering)</h5>
                                            <p>소프트웨어 개발의 핵심 기술들을 쉽게 학습할 수 있도록 오픈 소스 도구를 사용한 실습과 예제를 통해 소프트웨어 공학 이론을 이해한다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>정보보안(Information Security)</h5>
                                            <p>정보보안의 기초 암호 이론을 파악하고 인증에 관련된 전자서명 기법과 전자상거래에 이용되는 공개키 기반 구조 등의 보안기술을 강의하고, 응용 능력을 높이기 위하여 보안 프로토콜을 프로그래밍을 통하여 확인한다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>졸업프로젝트(캡스톤디자인)(Graduation Project)</h5>
                                            <p>최종학년의 프로젝트 위주의 과목으로 완전한 하나의 프로젝트의 수행을 통하여 하위학년에서 수강하여 획득한 전문지식을 서로 연계함으로써 완성도 있는 기술로 통합할 수 있는 기회를 제공하며, 특히 학생들이 실무에서 접하게 될 기술적, 그리고 업무적 환경을 경험하게 하여 졸업 후 실무에 바로 투입할 수 있도록 하는 것이 목적이다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h5>영상처리(Image Processing)</h5>
                                            <p>디지털영상을 처리하는 기초 개념과 방법론을 다루며 구체적인 주제로는 색의 표현, 화소 및 히스토그램 기반 처리, 마스크 기반 처리, 기하적 변환, 주파수 영역에서의 처리, 특징추출과 표현, 그리고 기초적인 영상인식 등이 포함되며 영상처리 API의 de-facto standard인 OpenCV 활용 프로그램 예제들을 다룬다.</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer" class="footer"></footer>

    <script src="../../../script/curriculum/banner_call.js"></script>
    <script src="../../../script/header_footer_call.js"></script>
    <script src="curriculum.js"></script>
</body>
</html>