
<footer class="footer" id="footer">
    <div class="footer_contents_wrap">
        <div class="footer_logo_img_box">
            <img src="/src/assets/images/Woosuk_Logo_white.png" alt="">
        </div>

        <div class="footer_infomation_wrap">
            <div class="footer_section_wrap">
                <section class="footer_left">
                    <div class="footer_school_tel_number">
                        <p class="TEL_Number_text">TEL</p>
                        <p class="TEL_Number_Number">043-531-2871</p>
                    </div>

                    <div class="footer_school_address">
                        <p class="footer_school_address_text">Address</p>
                        <address>[27841] 충청북도 진천군 진천읍 대학로 66 우석대학교 진천캠퍼스</address>
                    </div>
                </section>

                <section class="footer_right">
                    <div class="privacy_notice"><a href="https://www.woosuk.ac.kr/webService.do?menuCode=K00M0603">개인정보처리방침</a></div>
                    <div class="terms_and_conditions"><a href="/src/view/terms/terms.html">이용약관</a></div>
                    <div class="school_location"><a href="/src/view/sitemap/sitemap.html">사이트맵</a></div>
                </section>
            </div>
            
            <p class="copyright">COPYRIGHT &copy; 2015 WOOSUK UNIVERSITY. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</footer>