<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../style/reset.css">
    <link rel="manifest" href="../../../manifest.json">

    <link rel="stylesheet" href="../../../style/header.css">
    <link rel="stylesheet" href="../../../style/footer.css">

    <link rel="stylesheet" href="../../../style/not_index_banner.css">
    <link rel="stylesheet" href="notice.css">
    <title>커뮤니티</title>
</head>
<body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
        <section class="banner" id="banner"></section>

        <section class="container_wrap">
            <div class="path_wrap">
                <div class="path">
                    <a href="#none">HOME</a> > 
                    <a href="#none">전공</a> > 
                    <a href="#none">전공소개</a>
                </div>
            </div>

        </section>
    </main>
    
    <footer id="footer" class="footer"></footer>
    <script src="../../../script/header_footer_call.js"></script>
    <script src="../../../script/community/banner_call.js"></script>
</body>
</html>