
/* 경로 */
.container_wrap .path_wrap{

    padding: 10px;

    font-weight: 500;

    border-bottom: 1px solid #d3d3d3;
}

/* 컨텐츠 묶음 */
.container_wrap .section_contents_wrap{
    padding: 10px;
    margin: auto;

    width: 80%;

    display: flex;
    justify-content: center;
}
.container_wrap .section_contents_wrap .container h3{
    font-size: 1.7rem;
    font-weight: 700;
    
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
    
}

/* 컨텐츠 */
.container_wrap .section_contents_wrap .container .contents_wrap{
    width: 80%;
    height: 400px;
    overflow-y: scroll;

    margin: 0 auto;
    margin-top: 30px;

    line-height: 25px;

    transition: 0.5s;
}
.container_wrap .section_contents_wrap .container .contents_wrap h4{
    padding: 5px 0;
    padding-left: 5px;
    border-radius: 3px;

    background: #008D91;
    color: #fff;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents{

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents p{
    border: 1px solid #d3d3d3;
    padding: 10px;

}

@media screen and (max-width:1050px) {
    .container_wrap .section_contents_wrap .container .contents_wrap{
        width: 100%;
    }
    .container_wrap .section_contents_wrap .container .contents_wrap h4{
        border-radius: 50px;
    }
}