

/**************본문시작****************/
/* 경로 */
.container_wrap .path_wrap{

    padding: 10px;

    font-weight: 500;

    border-bottom: 1px solid #d3d3d3;
}

/* 컨텐츠 묶음 */
.container_wrap .section_contents_wrap{
    padding: 10px;
    margin: auto;

    width: 80%;

    display: flex;
    justify-content: center;
}
.container_wrap .section_contents_wrap .container{
    width: 100%;
}
.container_wrap .section_contents_wrap .container h3{
    width: 100%;
    font-size: 1.7rem;
    font-weight: 700;
    
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
    
}

.container_wrap .section_contents_wrap .container .contents_wrap{
    width: 80%;

    margin: 0 auto;
    margin-top: 30px;

    line-height: 25px;

    transition: 0.5s;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents{
    width: 100%;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.container_wrap .section_contents_wrap .container .contents_wrap .contents .preview{
    width: 80%;

    margin: auto;
    border: 1px solid;

    display: flex;
    justify-content: center;
}

.container_wrap .section_contents_wrap .container .contents_wrap .contents .preview img{
    width: 50%;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents button{
    padding: 7px 20px;
    border: 0;
    border-radius: 3px;

    color: #fff;
    background: #008D91;

    cursor: pointer;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents button:hover{
    background: #F7AA01;
}