<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../style/reset.css">

    <link rel="stylesheet" href="../../../style/header.css">
    <link rel="stylesheet" href="../../../style/footer.css">

    <link rel="stylesheet" href="../specialty_banner.css">

    <title>전공소개</title>
</head>
<body>
    <header class="header" id="header"></header>
    <main id="main" class="main">
        <article>
            <section class="banner">

            </section>
            
            <section class="container_wrap">

            </section>
        </article>
    </main>
    <footer class="footer" id="footer"></footer>
</body>
</html>