<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../style/reset.css">

    <link rel="stylesheet" href="../../../style/header.css">
    <link rel="stylesheet" href="../../../style/footer.css">

    <link rel="stylesheet" href="../../../style/not_index_banner.css">
    <link rel="stylesheet" href="specialty_intro.css">

    <title>전공소개</title>
</head>
<body>
    <header class="header" id="header"></header>
    <main id="main" class="main">
        <article>
            <section class="banner" id="banner"></section>
            
            <section class="container_wrap">
                <div class="path_wrap">
                    <div class="path">
                        <a href="#none">HOME</a> > 
                        <a href="#none">전공</a> > 
                        <a href="#none">전공소개</a>
                    </div>
                </div>

                <div class="section_contents_wrap">
                    <div class="container">
                        <h3 class="contents_name">전공소개</h3>

                        <div class="contents_wrap">
                            <div class="contents">
                                <h4>컴퓨터공학전공</h4>

                                <p>컴퓨터시스템 기초이론 및 소프트웨어개발을 위한 코딩 능력을 바탕으로 응용소프트웨어개발, 인터넷콘텐츠제작, 컴퓨터시스템관리, 임베디드시스템 등에 관한 응용 기술을 익힐 수 있도록 산업계요구를 반영한 국제표준에 부합하는 교과과정을 운영하고 있다.</p>

                                <p>컴퓨터공학은 컴퓨터시스템의 원리와 응용에 관한 지식을 연구하는 학문으로서 정보산업뿐만 아니라 4차산업혁명과 관련되어 산업 전반의 발전에 미치는 영향은 매우 크지만 컴퓨터공학 분야 전문가의 부족 현상으로 인력 수급 불균형이 심하고 이러한 현상은 앞으로도 상당한 기간동안 지속될 전망이다.</p>

                                <p>본 전공의 특장점으로서 지역우수인재를 공동양성 및 취업 지원하는 교육부 충북-지역선도대학사업(2018~2023년)의 공공기관ICT 트랙 참여대학으로 전공연합캠프/공공기관프로젝트/견학/경진대회/신기술세미나/자격증강좌/공공ICT취업캠프/합동채용설명회/취·창업초청특강 등 많은 비교과 활동을 하고 있으며, 대교협이 산업계수요와 교육과정과의 일치도를 평가하는 산업계관점 소프트웨어분야 최우수대학(2017년~)으로 선정되었다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer class="footer" id="footer"></footer>

    <script src="../../../script/header_footer_call.js"></script>
    <script src="../../../script/specialty/lnb_call.js"></script>
</body>
</html>