<div class="banner_container">
    <div class="section_title_wrap">
        <h2 class="section_title">커뮤니티</h2>
    </div>

    <div class="lnb_wrap">
        <ul class="lnb">
            <li><a href="/UNIVERSITY/src/view/community/notice/notice_list/notice_list.html">공지사항</a></li>
            <li><a href="/UNIVERSITY/src/view/community/gallery/show_gallery/show_gallery.html">갤러리</a></li>
            <li><a href="/UNIVERSITY/src/view/community/QnA/QnA_list/QnA_list.html">Q&A</a></li>
        </ul>
    </div>
</div>