

/**************본문시작****************/
/* 경로 */
.container_wrap .path_wrap{

    padding: 10px;

    font-weight: 500;

    border-bottom: 1px solid #d3d3d3;
    
}

/* 컨텐츠 묶음 */
.container_wrap .section_contents_wrap{
    padding: 10px;
    margin: auto;

    width: 80%;

    display: flex;
    justify-content: center;
}
.container_wrap .section_contents_wrap .container{
    width: 100%;
}
.container_wrap .section_contents_wrap .container h3{
    width: 100%;
    font-size: 1.7rem;
    font-weight: 700;
    
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
    
}

/* 컨텐츠 */
.container_wrap .section_contents_wrap .container .contents_wrap{
    width: 80%;

    margin: 0 auto;
    margin-top: 30px;

    line-height: 25px;

    transition: 0.5s;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents{
    position: relative;
    width: 100%;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
/* 검색버튼 */
.container_wrap .section_contents_wrap .container .contents_wrap .contents form{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}
/* 리스트 */
.container_wrap .section_contents_wrap .container .contents_wrap .contents table{
    border-collapse: collapse;   
}

.container_wrap .section_contents_wrap .container .contents_wrap .contents table th,
.container_wrap .section_contents_wrap .container .contents_wrap .contents table td{
    border: 1px solid;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents table thead th{
    background: #d3d3d3;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents table tbody th{
    font-weight: 100;

    padding: 5px 0;
    border-bottom: 1px solid #d3d3d3;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents table tbody th a{
    font-weight: 100;
}
/* 페이징 */
.container_wrap .section_contents_wrap .container .contents_wrap .contents .paging{
    display: flex;
    justify-content: center;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents .paging .paging_btn_wrap{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* 글쓰기 버튼 */
.container_wrap .section_contents_wrap .container .contents_wrap .contents .write_btn{
    display: flex;
    justify-content: end;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents .write_btn a{
    display: block;

    padding: 7px 20px;
    border: 0;
    border-radius: 3px;

    color: #fff;
    background: #008D91;
}
.container_wrap .section_contents_wrap .container .contents_wrap .contents .write_btn a:hover{
    background: #F7AA01;
}
@media screen and (max-width:1050px) {
    #modal .modal_box{
        width: 50%;
        height: 50%;
    
        background-color: #fff;
    
        padding: 10px;
    
        font-size: 1.5vw;
    }
    #modal .modal_box .modal_contents_center{

        width: 100%;
    }
    #modal .modal_box p,
    #modal .modal_box form{
        width: 100%;
    
        margin: auto;
    
        text-align: center;
    }
    /* *********본 컨텐츠 시작********* */
    .container_wrap .section_contents_wrap .container .contents_wrap{
        width: 100%;
    }
    .container_wrap .section_contents_wrap .container .contents_wrap h4{
        border-radius: 50px;
    }
}