<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../style/reset.css">

    <link rel="stylesheet" href="../../style/header.css">
    <link rel="stylesheet" href="../../style/footer.css">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <header class="header" id="header"></header>
    <main class="main" id="main">
        <article class="main_wrap">
            <section class="banner_wrap">
                <div class="banner active">
                    <div class="banner_left">
                        <div class="banner_container">
                            <div class="banner_contents_wrap">
                                <div class="banner_slide_contents">
                                    <div class="banner_contents_intro">

                                    </div>

                                    <div class="show_detail_page_btn_wrap">
                                        <button class="show_detail_page_btn">자세히보기</button>
                                    </div>
                                </div>
                            </div>

                            <div class="banner_contents_name_wrap">
                                <div class="banner_contents_icon_box">
                                    <img class="curriculum_img" src="../../assets/images/main/curriculum.jpg" alt="교육과정">
                                </div>

                                <p class="banner_contents_name">
                                    교육과정
                                </p>
                            </div>
                        </div>

                        <div class="banner_container">
                            <div class="banner_contents_wrap">
                                <div class="banner_slide_contents">
                                    <div class="banner_contents_intro">

                                    </div>

                                    <div class="show_detail_page_btn_wrap">
                                        <button class="show_detail_page_btn">자세히보기</button>
                                    </div>
                                </div>
                            </div>

                            <div class="banner_contents_name_wrap">
                                <div class="banner_contents_icon_box">
                                    <img class="education_img" src="../../assets/images/main/education.jpg" alt="교육목표">
                                </div>

                                <p class="banner_contents_name">
                                    교육목표
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="banner_center">
                        <div class="banner_logo_box">
                            <span>
                                <img src="../../assets/images/Woosuk_Logo_outline.png" alt="">
                            </span>

                            <span>
                                <a href="#"><img src="../../assets/images/Woosuk_logo.png" alt=""></a>
                            </span>
                        </div>
                    </div>



                    <div class="banner_right">
                        <div class="banner_container">
                            <div class="banner_contents_name_wrap">
                                <div class="banner_contents_icon_box">
                                    <img class="entrance_info_img" src="../../assets/images/main/entrance_info.jpg" alt="">
                                </div>

                                <p class="banner_contents_name">
                                    입학정보
                                </p>
                            </div>

                            <div class="banner_contents_wrap">
                                <div class="banner_slide_contents">
                                    <div class="banner_contents_intro">
                                        <p>입학정보</p>
                                        <p>설명</p>
                                    </div>

                                    <div class="show_detail_page_btn_wrap">
                                        <button class="show_detail_page_btn">자세히보기</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="banner_container">
                            <div class="banner_contents_name_wrap">
                                <div class="banner_contents_icon_box">
                                    <img class="location_img" src="../../assets/images/main/location.jpg" alt="">
                                </div>

                                <p class="banner_contents_name">
                                    오시는길
                                </p>
                            </div>

                            <div class="banner_contents_wrap">
                                <div class="banner_slide_contents">
                                    <div class="banner_contents_intro">

                                    </div>

                                    <div class="show_detail_page_btn_wrap">
                                        <button class="show_detail_page_btn">자세히보기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer class="footer" id="footer"></footer>



    <script src="../../script/header_footer_call.js"></script>
</body>
</html>