/************************ PC ***********************/

.main_wrap .banner_wrap{
    width: 100%;

    border-top: 2px solid #d2d2d2;
    border-bottom: 2px solid #d2d2d2;

    background: #f3f3f3;

    padding: 30px 0;
}
.main_wrap .banner_wrap .banner{
    width: 80%;

    margin: auto;

    display: flex;
}

/***** 배너 로고 ******/
.main_wrap .banner_wrap .banner .banner_center{
    position: relative;
    width: 20%;

    z-index: 1;
}
.main_wrap .banner_wrap .banner .banner_center .banner_logo_box{
    position: relative;
    width: 100%;
    height: 387.59px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main_wrap .banner_wrap .banner .banner_center .banner_logo_box span{
    position: absolute;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 50%;
}
.main_wrap .banner_wrap .banner .banner_center .banner_logo_box span img{
    width: 100%;
}
.main_wrap .banner_wrap .banner .banner_center .banner_logo_box span:nth-child(1) img{
    animation: rotation_inf 30s infinite linear;
}@keyframes rotation_inf{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.main_wrap .banner_wrap .banner .banner_center .banner_logo_box span:nth-child(2) img{
    position: relative;
    clip-path: circle(34.0% at 50% 50%);
    
}


.main_wrap .banner_wrap .banner .banner_left ,
.main_wrap .banner_wrap .banner .banner_right {
    position: relative;
    width: 40%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    z-index: 0;
}
/* 컨텐츠 소개 묶음 */
.main_wrap .banner_wrap .banner .banner_left .banner_container ,
.main_wrap .banner_wrap .banner .banner_right .banner_container{
    height: 50%;

    display: flex;
}
/***** 컨텐츠 슬라이드 중심잡기 *****/
.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_wrap ,
.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_wrap{
    position: relative;

    width: 75%;

    overflow: hidden;
}
/* 컨텐츠 슬라이드 */
.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_wrap .banner_slide_contents ,
.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_wrap .banner_slide_contents{
    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(0,-50%);

    width: 100%;
    height: 90%;

    display: none;

    color: #fff;
}
/* 컨텐츠 왼쪽, 슬라이드 */
.main_wrap .banner_wrap .banner.active .banner_left .banner_container .banner_contents_wrap .banner_slide_contents{
    animation: left_move_slide_contents 0.5s ease-in-out;
} @keyframes left_move_slide_contents{
    0%{
        transform: translate(100%,-50%);
    }
    100%{
        transform: translate(0,-50%);
    }
}

/* 컨텐츠 오른쪽, 슬라이드 */
.main_wrap .banner_wrap .banner.active .banner_right .banner_container .banner_contents_wrap .banner_slide_contents{
    animation: right_move_slide_contents 0.5s ease-in-out;
} @keyframes right_move_slide_contents{
    0%{
        transform: translate(-100%,-50%);
    }
    100%{
        transform: translate(0,-50%);
    }
}
.main_wrap .banner_wrap .banner .banner_container .banner_contents_wrap .banner_slide_contents.entrance_info_bg{
    background: url(../../assets/images/main/entrance_info.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.main_wrap .banner_wrap .banner .banner_container .banner_contents_wrap .banner_slide_contents.curriculum_bg{
    background: url(../../assets/images/main/curriculum.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.main_wrap .banner_wrap .banner .banner_container .banner_contents_wrap .banner_slide_contents.education_bg{
    background: url(../../assets/images/main/education.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.main_wrap .banner_wrap .banner .banner_container .banner_contents_wrap .banner_slide_contents.location_bg{
    background: url(../../assets/images/main/location.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* 컨텐츠 소개 */
.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_wrap .banner_slide_contents .banner_contents_intro ,
.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_wrap .banner_slide_contents .banner_contents_intro{
    width: 80%;
    height: calc(80% - 10px);

    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid;

    background: #0000005d;
    backdrop-filter: blur(2px);
    
    display: flex;
    flex-direction: column;

    font-size: 1em;
    
    line-height: 20px;
}

/* 자세히보기 버튼 */
.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_wrap .banner_slide_contents .show_detail_page_btn_wrap ,
.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_wrap .banner_slide_contents .show_detail_page_btn_wrap{
    width: 100%;
    height: 20%;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_wrap .banner_slide_contents .show_detail_page_btn_wrap a ,
.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_wrap .banner_slide_contents .show_detail_page_btn_wrap a{

    border: 0;
    border-radius: 3px;
    padding: 5px 10px;

    font-size: 0.7em;

    color: #000;

    background: #ffffffe7;
}
.main_wrap .banner_wrap .banner .banner_container .banner_contents_wrap .banner_slide_contents .show_detail_page_btn_wrap a:active{
    background: #008D91;
    color: #fff;
}
/***** 컨텐츠 이름과 이미지 묶음 *****/
.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap ,
.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap{
    position: relative;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 컨텐츠 이름 위 이미지 */
.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap .banner_contents_icon_box ,
.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap .banner_contents_icon_box{
    width: 50%;
    height: 50%;
}

.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap .banner_contents_icon_box img ,
.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap .banner_contents_icon_box img{
    position: absolute;
    transform: rotate(0) translate(0);
    width: 50%;

    border-radius: 50% ;

    transition: 0.5s;
}

/* 이미지 위치 지정(애니메이션 */
.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap .banner_contents_icon_box .curriculum_img{
    animation:  curriculum 0.5s ease-in-out;
}  @keyframes curriculum{
    0%{
        transform: translate(300%,150%); /* 300% 100% */
    }
    100%{
        transform: translate(0); /* 300% 100% */
    }
}

.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap .banner_contents_icon_box .education_img{
    animation:  education 0.5s ease-in-out;
}  @keyframes education{
    0%{
        transform: translate(300%,-150%); /* 300% -147% */
    }
    100%{
        transform: translate(0); /* 300% -147% */
    }
}

.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap .banner_contents_icon_box .entrance_info_img{
    animation:  entrance_info 0.5s ease-in-out;
}  @keyframes entrance_info{
    0%{
        transform: translate(-300%,150%); /* -300% 100% */
    }
    100%{
        transform: translate(0); /* -300% 100% */
    }
}

.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap .banner_contents_icon_box .location_img{
    animation:  location 0.5s ease-in-out;
}  @keyframes location{
    0%{
        transform: translate(-300%,-150%); /* -300% -147% */
    }
    100%{
        transform: translate(0); /* -300% -147% */
    }
}


/* 컨텐츠 이름 */
.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap .banner_contents_name,
.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap .banner_contents_name{
    font-size: 0.9em;
    animation: banner_contents_name 0.6s linear;
}@keyframes banner_contents_name{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap .banner_contents_name,
.main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap .banner_contents_name{
    opacity: 1;

    transition: 0.5s;
}
/********************** MOBILE **********************/
@media screen and (max-width:1050px) {
    .main{
        min-width: 100%;
        
    }

    .main_wrap .banner_wrap{
        width: 100%;
        max-height: 300px;

        padding: 0; /* 재설정 */

        display: flex;
    }

    .main_wrap .banner_wrap .banner{
        position: relative;
        width: 100%;
        max-width: 500px;
        height: 100%;

        display: block;
    }

    /* 배너로고 */
    .main_wrap .banner_wrap .banner .banner_center{
        position: relative;
        top: 0;
        left: 100%;
        transform: translateX(-100%);

        width: 40%;
        height: 100%;
    }
    
    .main_wrap .banner_wrap .banner .banner_center .banner_logo_box{
        position: relative;
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_wrap .banner_wrap .banner .banner_center .banner_logo_box span{
        width: 80%;

        overflow: hidden;
    }
    .main_wrap .banner_wrap .banner .banner_center .banner_logo_box span img{
        width: 100%;
    }
    .main_wrap .banner_wrap .banner .banner_center .banner_logo_box span:nth-child(1) img{
        animation: rotation_inf 30s infinite linear;
    }
    .main_wrap .banner_wrap .banner .banner_center .banner_logo_box span:nth-child(2) img{
        position: relative;
        clip-path: circle(34.0% at 50% 50%);
        
    }

    /* 배너 오른쪽 왼쪽 */
    .main_wrap .banner_wrap .banner .banner_left ,
    .main_wrap .banner_wrap .banner .banner_right {
        width: 40%;
    }
    /* 컨텐츠 소개 묶음 */
    .main_wrap .banner_wrap .banner .banner_left .banner_container ,
    .main_wrap .banner_wrap .banner .banner_right .banner_container{
        margin: 10px 0;
    }
    /***** 컨텐츠 슬라이드 숨기기 *****/
    .main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_wrap ,
    .main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_wrap{
        display: none;
    }
    /***** 컨텐츠 이름과 이미지 묶음 *****/
    .main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap ,
    .main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap{
        width: 100%;
    
        display: flex;
        flex-direction: row;

        font-size: 2vw;
    }
    
    /* 컨텐츠 이름 위 이미지 */
    .main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap .banner_contents_icon_box ,
    .main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap .banner_contents_icon_box{
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
    }
    .main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap .banner_contents_icon_box img ,
    .main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap .banner_contents_icon_box img{
        position: relative;
        height: 100%;
    }
    
    /* 컨텐츠 이름 */
    .main_wrap .banner_wrap .banner .banner_left .banner_container .banner_contents_name_wrap .banner_contents_name,
    .main_wrap .banner_wrap .banner .banner_right .banner_container .banner_contents_name_wrap .banner_contents_name{
        font-size: 0.9em;
    }

}