<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../style/reset.css">

    <link rel="stylesheet" href="../../style/header.css">
    <link rel="stylesheet" href="../../style/footer.css">
    <link rel="stylesheet" href="index_banner.css">

    <script src="index.js"></script>
    <title>우석대학교-컴퓨터공학전공</title>
</head>
<body>
    <header class="header" id="header"></header>
    <main class="main" id="main">
        <article class="main_wrap">
            <section class="banner_wrap">
                <div class="banner">
                    <div class="banner_left">
                        <div class="banner_container">
                            <div class="banner_contents_wrap">
                                <div class="banner_slide_contents curriculum_bg">
                                    <div class="banner_contents_intro">

                                    </div>

                                    <div class="show_detail_page_btn_wrap">
                                        <a href="#none" class="show_detail_page_btn">자세히보기</a>
                                    </div>
                                </div>
                            </div>

                            <div class="banner_contents_name_wrap">
                                <div class="banner_contents_icon_box">
                                    <img class="curriculum_img" src="../../assets/images/main/curriculum_icon.jpg" alt="교육과정">
                                </div>

                                <p class="banner_contents_name">
                                    <a href="#none">교육과정</a>
                                </p>
                            </div>
                        </div>

                        <div class="banner_container">
                            <div class="banner_contents_wrap">
                                <div class="banner_slide_contents education_bg">
                                    <div class="banner_contents_intro">

                                    </div>

                                    <div class="show_detail_page_btn_wrap">
                                        <a href="#none" class="show_detail_page_btn">자세히보기</a>
                                    </div>
                                </div>
                            </div>

                            <div class="banner_contents_name_wrap">
                                <div class="banner_contents_icon_box">
                                    <img class="education_img" src="../../assets/images/main/education_icon.jpg" alt="교육목표">
                                </div>

                                <p class="banner_contents_name">
                                    <a href="#none">교육목표</a>
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="banner_center">
                        <div class="banner_logo_box">
                            <span>
                                <img src="../../assets/images/Woosuk_Logo_outline.png" alt="">
                            </span>

                            <span>
                                <img src="../../assets/images/Woosuk_logo.png" alt="">
                            </span>
                        </div>
                    </div>



                    <div class="banner_right">
                        <div class="banner_container">
                            <div class="banner_contents_name_wrap">
                                <div class="banner_contents_icon_box">
                                    <img class="entrance_info_img" src="../../assets/images/main/entrance_info_icon.jpg" alt="입학정보" >
                                </div>

                                <p class="banner_contents_name">
                                    <a href="#none">입학정보</a>
                                </p>
                            </div>

                            <div class="banner_contents_wrap">
                                <div class="banner_slide_contents entrance_info_bg">
                                    <div class="banner_contents_intro">
                                        <p>설명</p>
                                    </div>

                                    <div class="show_detail_page_btn_wrap">
                                        <a href="#none" class="show_detail_page_btn">자세히보기</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="banner_container">
                            <div class="banner_contents_name_wrap">
                                <div class="banner_contents_icon_box">
                                    <img class="location_img" src="../../assets/images/main/location_icon.jpg" alt="오시는길">
                                </div>

                                <p class="banner_contents_name">
                                    <a href="#none">오시는길</a>
                                </p>
                            </div>

                            <div class="banner_contents_wrap">
                                <div class="banner_slide_contents location_bg">
                                    <div class="banner_contents_intro">

                                    </div>

                                    <div class="show_detail_page_btn_wrap">
                                        <a href="#none" class="show_detail_page_btn">자세히보기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="main_contents_container">


            </section>
        </article>
    </main>
    <footer class="footer" id="footer"></footer>



    <script src="../../script/header_footer_call.js"></script>
</body>
</html>