.main_contents_container{
    position: relative;
    width: 100%;

    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #808080;
}
.main_contents_container .main_height_line{
    position: absolute;
    left: 50%;

    transform: translateX(-50%);

    width: 1px;
    height: 0;

    border: 1px solid #808080;
    margin: 0 auto;

    transition: 0.01s;
}
.main_contents_container>section{
    position: relative;
    width: 1050px;

    margin: 100px auto;
    padding: 10px 0;
    border-top: 1px solid #808080 ;
    border-bottom: 1px solid #808080 ;

    background: rgb(242, 242, 242);

    text-align: center;
}
.main_contents_container>section>div{
    width: 80%;
    margin: auto;
}
.main_contents_container>section>div h2{
    width: 100%;


    margin: auto;
    padding-bottom: 10px;

    text-align: center;
    font-size: 1.5em;
}
/* 자세히보기 */
.main_contents_container>section .select_specialty_intro_btn_wrap{
    width: 100%;

    margin-top: 10px;
}
.main_contents_container>section .select_specialty_intro_btn_wrap a{
    padding: 7px 20px;
    border: 0;
    border-radius: 3px;

    font-size: 0.8em;

    color: #fff;
    background: #008D91;

    cursor: pointer;
}
.main_contents_container>section .select_specialty_intro_btn_wrap a:hover{
    background: #F7AA01;
}

/* 컨텐츠 본격 디자인 */
/* 컨텐츠 세부화 후 개별 정렬 */

/******* 첫 번째 컨텐츠 *******/
.main_contents_container>section .specialty_container .specialty_list_wrap{
    width: 100%;

    display: flex;
}
/* 큰 이미지 */
.main_contents_container>section .specialty_container .specialty_list_wrap .select_specialty_intro_wrap{
    position: relative;

    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_contents_container>section .specialty_container .specialty_list_wrap .select_specialty_intro_wrap .select_specialty_img{
    position: absolute;
    left: 0;

    width: 100%;
    height: 80%;

    opacity: 0;
}
.main_contents_container>section .specialty_container .specialty_list_wrap .select_specialty_intro_wrap .select_specialty_img.active{
    opacity: 1;
}
.main_contents_container>section .specialty_container .specialty_list_wrap .select_specialty_intro_wrap .select_specialty_img img{
    width: 100%;
    height: 100%;

    box-shadow: 0 0 3px #0061c5;
}


/*첫번째 컨텐츠 리스트*/
.main_contents_container>section .specialty_container .specialty_list_wrap .specialty_list{
    width: 50%;

    padding: 30px 0;
}
.main_contents_container>section .specialty_container .specialty_list_wrap .specialty_list li{
    margin: 10px 0 10px ;
    padding: 20px 0;
    border: 1px solid #d3d3d3;
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.main_contents_container>section .specialty_container .specialty_list_wrap .specialty_list li.active{
    background: #F7AA01;
    border: 1px solid #ffc340;
}
.main_contents_container>section .specialty_container .specialty_list_wrap .specialty_list li.active a{
    color: #fff;
}

/******* 두 번째 컨텐츠 *******/
.main_contents_container .notice_wrap{}

.main_contents_container>section .notice_container .notice_list_wrap{
    margin: auto;

    width: 100%;
}
.main_contents_container>section .notice_container .notice_list_wrap table{
    border-collapse: collapse;
}

.main_contents_container>section .notice_container .notice_list_wrap table{
    width: 100%;

    padding: 30px 0;

    display: flex; 
    align-items: center;
    flex-direction: column;
}
.main_contents_container>section .notice_container .notice_list_wrap table thead,
.main_contents_container>section .notice_container .notice_list_wrap table tbody{
    width: 100%;
}
.main_contents_container>section .notice_container .notice_list_wrap table thead tr{
    border-top: 1px solid;
}
.main_contents_container>section .notice_container .notice_list_wrap table tr th{
    width: 25%;

    padding: 7px 20px;

    border-right: 1px solid;
}
.main_contents_container>section .notice_container .notice_list_wrap table tr th:nth-child(1){
    border-left: 1px solid;
}
.main_contents_container>section .notice_container .notice_list_wrap table tr th:nth-child(2),
.main_contents_container>section .notice_container .notice_list_wrap table tr th:nth-child(4){
    width: 30%;
}
.main_contents_container>section .notice_container .notice_list_wrap table tr th:nth-child(1),
.main_contents_container>section .notice_container .notice_list_wrap table tr th:nth-child(3),
.main_contents_container>section .notice_container .notice_list_wrap table tr th:nth-child(5){
    width: calc(40% / 3);
}
.main_contents_container>section .notice_container .notice_list_wrap table tr{
    display: flex;

    width: 100%;
    border-bottom: 1px solid;
    
}



/******* 세 번째 컨텐츠 *******/
.main_contents_container>section .reference_container .reference_list{
    position: relative;
    margin: 30px 0;

    display: flex;
    align-items: center;
    gap: 30px;
}

.main_contents_container>section .reference_container .reference_list>div{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.main_contents_container>section .reference_container .reference_list>div>div{
    width: 100%;
    height: 200px;

    border: 1px solid #808080;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.main_contents_container>section .reference_container .reference_list>div>div a{
    color: #fff;
}
.main_contents_container>section .reference_container .reference_list .reference_list_left{
    align-items: end;
}
/* 우석포털 */
.main_contents_container>section .reference_container .reference_list .reference_list_left div:nth-child(1){
    background: #808080 url('../../assets/images/main/future_center.png');
    background-position: 0 25%;
    background-blend-mode: multiply;
}
.main_contents_container>section .reference_container .reference_list .reference_list_left div:nth-child(1):hover{
    background: #cecece url('../../assets/images/main/main_contents_three/potalLogin.JPG');
    background-size: 100% 100%;
}
.main_contents_container>section .reference_container .reference_list .reference_list_left div:nth-child(1):hover a{
    display: block;

    width: 50%;
    height: 50%;

    text-shadow: 0 0 5px #000;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* 진로 취업센터 */
.main_contents_container>section .reference_container .reference_list .reference_list_left div:nth-child(2){
    background: #808080 url('../../assets/images/main/future_center.png');
    background-position: 0 80%;
    
    background-blend-mode: multiply;
    
}
.main_contents_container>section .reference_container .reference_list .reference_list_left div:nth-child(2):hover{
    background: #cecece url('../../assets/images/main/main_contents_three/employment.JPG');
    background-size: 100% 100%;
}

.main_contents_container>section .reference_container .reference_list .reference_list_left div:nth-child(2):hover a{
    display: block;

    width: 50%;
    height: 50%;

    text-shadow: 0 0 5px #000;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main_contents_container>section .reference_container .reference_list .reference_list_right div:nth-child(1){
    background: #808080 url('../../assets/images/main/future_center.png');
    background-position: 100% 25%;
    background-blend-mode: multiply;
    
}
.main_contents_container>section .reference_container .reference_list .reference_list_right div:nth-child(1):hover{
    background: #cecece url('../../assets/images/main/main_contents_three/library.JPG');
    background-size: 100% 100%;
}
.main_contents_container>section .reference_container .reference_list .reference_list_right div:nth-child(1):hover a{
    display: block;

    width: 50%;
    height: 50%;

    text-shadow: 0 0 5px #000;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main_contents_container>section .reference_container .reference_list .reference_list_right div:nth-child(2){
    background: #808080 url('../../assets/images/main/future_center.png');
    background-position: 100% 80%;
    background-blend-mode: multiply;
    
}
.main_contents_container>section .reference_container .reference_list .reference_list_right div:nth-child(2):hover{
    background: #cecece url('../../assets/images/main/main_contents_three/proof.JPG');
    background-size: 100% 100%;
}

.main_contents_container>section .reference_container .reference_list .reference_list_right div:nth-child(2):hover a{
    display: block;

    width: 50%;
    height: 50%;

    text-shadow: 0 0 5px #000;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main_contents_container>section .reference_container .reference_list .reference_list_right{
    align-items: start;
}


@media screen and (max-width:1050px) {
    .main_contents_container>section{
        width: 100%;
    }
    .main_contents_container>section>div h2{
        font-size: 20px;
    }
    /******* 첫번째 컨텐츠 *******/
    /* 큰 이미지 */
    .main_contents_container>section .specialty_container .specialty_list_wrap .select_specialty_intro_wrap{
        display: none;
    }
    /* 컨텐츠 리스트 */
    .main_contents_container>section .specialty_container .specialty_list_wrap .specialty_list{
        width: 50%;
        margin: auto;
    }

    .main_contents_container>section .specialty_container .specialty_list_wrap .specialty_list li{
        text-align: center;

        border: 1px solid #d3d3d3;
        border-top: 0;
        border-radius: 0;
        margin: 0;
    }
    .main_contents_container>section .specialty_container .specialty_list_wrap .specialty_list li:nth-child(1){
        border-top: 1px solid #d3d3d3;
    }


    /*********두 번째 컨텐츠***********/

    .main_contents_container>section .notice_container .notice_list_wrap ul li .notice_contents{
        width: 60%;
    }

    /******* 세 번째 컨텐츠 *******/
    .main_contents_container>section .reference_container .reference_list{
        padding: 30px 0;
        
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .main_contents_container>section .reference_container .reference_list>div{
        width: 100%;
    
        border: 0;
        border-radius: 10px;
        padding: 10px;
    }
}